/* typography */

  
  thead th,
  tfoot th {
    text-align: center;
    font-size: smaller;
  }
  
  th {
    letter-spacing: 2px;
    font-size: smaller;
    text-align: center;
    padding-left: 15px;
    margin: 25px;
    margin: 2.4rem;
  }
  
  td {
    letter-spacing: 1px;
    font-size: smaller;
    text-align: center;
    padding-left: 15px;
    margin: 25px;
    margin: 2.4rem;
    
  }
  
  tbody td {
    text-align: center;
    font-size: smaller;
    padding-left: 15px;
    margin: 2.4rem;
   
  }
  
  tfoot th {
    text-align: center;
    font-size: smaller;
  }

  heit{
    justify-content: space-between;
    min-height: 200px;
    min-width: 200px;
  }
 

  .frstname{
    margin-left: .8rem;
  }

  .studid{
    margin-left: 2.4rem;
  }

  .studName{
    padding-left: 2.4rem;
  }

  .studRew{
    padding-left: 2.4rem;
  }